<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Hospital</title>
    <link rel="Stylesheet" href="../static/style.css">
</head>
</head>
<body>
    <div class="s" >
        <h3> ContactUs +91 9475638936/01|suh@hospital.com</h3>

    </div>
    <div class="dh">
        <table class="sa">
            <tr>
                <td width="350px" class="aw"><span class="an">Super</span> Hospital</td>
                <td>
                    <br><br>
                    <nav>        
                        <a href="{{url_for('index')}}">Home</a>
                        <a href="{{url_for('about')}}">About Us</a>
                        <a href="{{url_for('service')}}">Services</a>
                        <a href="{{url_for('doctor')}}">Doctors</a>
                        <a href="{{url_for('contact')}}">Contact Us</a>
                        <a href="{{url_for('dashboard')}}">Dashboard</a>
                    </nav>
                </td>
            </tr>
        </table>
    </div><br>
    <div class="sc">
          
         <img src="../static/picturre1/about.jpg" alt="Doctor" class="sr"> 
    
    <div class="gu">
       
        <p class="ni">  Welcome to <span class="po"> Super Hospital </span></p><br>
       
        <b class="sl">Best Medical & Health care Needs to our patients</b><br><br>
        <p class="ja">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
         Voluptatibus nihil commodi ab fugit amet dolorum porro ex rerum, 
         mollitia reprehenderit velit itaque natus accusantium similique 
         laboriosam iusto neque quas voluptates?</p><br>
         <p class="ja">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Porro iste dolorum illum, expedita itaque quam, nam, in harum 
        dolor commodi vitae fugiat aut repellendus. Repellat vitae iste
         cumque dolore maxime.</p><br>
         
    </div></div>
    <div class="as">
        <h5 class="ad"> Address</h5><br>
        <h2 class="ds"> Super Hospital & Research Center</h2><br><br>
        <p class="gh">180, Shri Rampuri Niwuru Road,</p>
        <p class="gh">Kaal Road</p>
        <p class="gh">Benad,bharatpur Raj 302020</p>
        <p class="gh">Contact No-0123456789</p>
        <p class="gh">Email:ukh@hospital</p>
    </div>
    <footer>
        <div class="va">
            <h6><span>&#169</span>Super Hospital,site designed & developed by  MITRAZ</h6> </div>
    </footer>


    </body>
    </html>