<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Hospital</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
</head>
<div class="s" >
    <h3> ContactUs +91 9475638936/01|suh@hospital.com</h3>

</div>
<div class="dh">
    <table class="sa">
        <tr>
            <td width="350px" class="aw"><span class="an">Super</span> Hospital</td>
            <td>
                <br><br>
                <nav>        
                    <a href="{{url_for('index')}}">Home</a>
                    <a href="{{url_for('about')}}">About Us</a>
                    <a href="{{url_for('service')}}">Services</a>
                    <a href="{{url_for('doctor')}}">Doctors</a>
                    <a href="{{url_for('contact')}}">Contact Us</a>
                    <a href="{{url_for('dashboard')}}">Dashboard</a>
                </nav>
            </td>
        </tr>
    </table>
</div>
    <br>
           <div id="sp">
            <p  class="nk">-------------</p><br>
            <b class="lg"> ContactUs</b><br><br>
            <p class="ll">Super Hospital & Research Center</p>
            <p class="ll">Mob : +91 0123456789</p>
            <p class="ll"> Email : suh@hospital.com</p>
           </div><br>
           
           <footer>
            <div class="va">
                <h6><span>&#169</span>Super Hospital,site designed & developed by  MITRAZ</h6> </div>
        </footer>
</body>
</html>
