<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Hospital</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
</head>
<body>
    <div class="s" >
        <h3> ContactUs +91 9475638936/01|suh@hospital.com</h3>

    </div>
    <div class="dh">
        <table class="sa">
            <tr>
                <td width="350px" class="aw"><span class="an">Super</span> Hospital</td>
                <td>
                    <br><br>
                    <nav>        
                        <a href="{{url_for('index')}}">Home</a>
                        <a href="{{url_for('about')}}">About Us</a>
                        <a href="{{url_for('service')}}">Services</a>
                        <a href="{{url_for('doctor')}}">Doctors</a>
                        <a href="{{url_for('contact')}}">Contact Us</a>
                        <a href="{{url_for('dashboard')}}">Dashboard</a>
                    </nav>
                </td>
            </tr>
        </table>
    </div>
        <div class="jk">
        <img src="../static/picturre1/service.jpg" alt="service" class="lo">
    <div id="df">
        <p class="ed"> Our Outstanding Services</p>
        <h5 class="em"> What We Offer!</h5>
        <li class="ko">DENTAL IMPLIMENTATION</li>
        <li class="ko"> WHITENING</li>
        <li class="ko"> VACCINATIONS</li>
        <li class="ko"> LABORATORY</li>
        <li class="ko"> MEDICAL DRESSAGE</li>
        <li class="ko">EMERGENCE CONTRACEPTION</li>
    </div></div><hr class="rt"><br>

    <div class="O">
        <p id="zx">--------</p>
       <h4> Our Department</h4>
       <li class="v">Dental</li>
       <li class="v">Otology</li>
       <li class="v"> Cardiac</li>
       <li class="v" > Hepotology</li>
       <li class="v">Orthopedics</li>
       <li class="v">Gastroenterology</li>
       
    </div>
    <br>
    <footer>
        <div class="va">
            <h6><span>&#169</span>Super Hospital,site designed & developed by  MITRAZ</h6> </div>
    </footer>
</body>
</html>
