<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>
    <ul>
        {% for project in projects %}
        <li>
            <h2>{{ project.title }}</h2>
            <p>{{ project.description }}</p>
            <p>Technologies: {{ project.technologies }}</p>
            <img src="{{ url_for('static', filename=project.image_url.split('static/')[1]) }}" alt="{{ project.title }} image">
            <p><a href="{{ project.project_url }}">Project Link</a></p>
            <p><a href="{{ project.source_url }}">Source Code</a></p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
